.button {

    cursor: pointer;

    &.orange {
        background-color: $orange-color;
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 15px 23px;
        border-radius: 30px;
    }

    &.pizza {
        background-color: #ffffff;
        color: $button-border;
        padding: 14px 18px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 1rem;
        border: 1px solid $button-border;
    }

    &.black {
        background-color: $light-grey-color;
        color:black;
        font-size: 1.1rem;
        line-height: 1.2;
        padding: 11px 20px;
        border-radius: 30px;
        font-weight: 700;
        transition: all .2s;

        &:hover {
            background-color: $button-black;
            color: #ffffff;
        }
    }
}