$grey-color: #7B7B7B;
$light-grey-color:#F3F3F3;
$orange-color: #FE5F1E;
$hr-color: #F7F7F7;
$button-border: #EB5A1E;
$button-black: #282828;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Proxima Nova Regular', sans-serif;
}

@import '_button.scss';

html {
    font-size: 14px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

// Header
header {
    padding: 30px;

    .container {
        justify-content: space-between;
    }

    .logo {
        display: flex;
        gap: 17px;
        align-items: center;
        vertical-align: middle;

        .img {
            width: 38px;
            height: 38px;
            object-fit:contain;
        }

        .text {
            .name {
                font-size: 1.5rem;
                font-weight: 900;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            .description {
                color: $grey-color;
                font-size: 1.125rem;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }

    .card-button {

        a.button.orange {
            text-decoration: none;
        }
    }

    hr {
        border: 1px solid $hr-color;
        margin-top: 35px;
    }
}

// Pizza-cart
.pizza-cart {
    display: flex;
    flex-direction: column;

    .img {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .name {
        font-size: 1.25rem;
        font-weight: 700;
        text-align: center;
        padding-bottom: 22px;
        padding-top: 11px;
    }

    .price-block {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
            font-size: 1.375rem;
            letter-spacing: 0.015em;
            font-weight: 700;
        }
    }

    .selector {
        margin: 0 0 17px;
        padding: 7px 6px;
        border-radius: 10px;
        background-color: $light-grey-color;

        .size, .type {
            position: relative;
            display: flex;

            span.window {
                z-index: 0;
                top: -3px;
                position: absolute;
                display: inline-block;
                background-color: #ffffff;
                width: 33%;
                height: calc(100% + 6px);
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.64);

                transition: left .2s;
            }

            label {
                cursor: pointer;
                display: inline-block;
                z-index: 1;
                width: 33.333%;

                input {
                    display: none;
                }

                font-size: 0.875rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }
}

.filter-list {

    label {
        margin-right: 10px;

        input {
            display: none;

            &:checked + span {
                background-color: $button-black;
                color: #ffffff;
            }
        }
    }
}

.sorter-list {
    position: relative;

    .selected {
        font-size: 1.1rem;
        font-weight: 700;
        color: $button-black;

        span.name {
            margin-left: 5px;
            font-weight: 400;
            color: $orange-color;
            text-decoration: underline dashed;
            cursor: pointer;
        }
    }

    .list {
        margin-top: 10px;
        position: absolute;
        right: 0;
        left: 0;
        top: 100%;
        background-color: #ffffff;
        padding: 18px 0;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);

        ul {
            li {
                display: block;
                font-size: 1.1rem;
                font-weight: 700;
                color: $button-black;
                padding: 10px 14px;
                cursor: pointer;
                transition: all .2s;

                &:hover, &.active {
                    background-color: #FE5F1E0D;
                    color: $orange-color;
                }
            }
        }
    }
}

section#main {

    .container {
        flex-wrap: wrap;

        &.filter {
            padding: 30px 0;
            justify-content: space-between;
        }
    }

    .pizza-cart {
        width: 25%;
        padding: 35px;
        text-align: center;
    }
}

section#cart {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 2.3rem;
            font-weight: 700;
            margin-bottom: 10px;
            text-align: center;
        }

        .description {
            font-size: 1.1rem;
            line-height: 1.2;
            color: #777777;
            margin-bottom: 20px;
        }

        .button {
            margin-top: 40px;
        }
    }

    .container.list {
        .header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #bcbcbc;

            .title {
                font-size: 2rem;
                font-weight: 700;
            }

            .delete-all {
                font-size: 1.1rem;
                color: $grey-color;
                cursor: pointer;
            }
        }

        .list {
            width: 80%;
            margin: 10px auto;

            .item {
               padding: 20px 10px;
               display: flex;
               align-items: center;
               width: 100%;

               .image {
                  width: 80px;
                  height: 80px;
                  margin-right: 10px;

                  img {
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     object-position: center;
                  }
               }

               .info {
                  .name {
                     font-size: 1.3rem;
                     font-weight: 700;
                  }

                  .type {
                     font-size: 1.1rem;
                     color: $grey-color;
                  }
               }

               .number {
                  margin: 0 auto;
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  div {
                     min-width: 20px;
                     min-height: 20px;
                     text-align: center;
                     font-size: 1.4rem;
                     font-weight: 700;

                     &.button {
                        margin-top: 0;
                        color: $orange-color;
                        cursor: pointer;
                     }
                  }
               }

               .price {
                  margin: 0 auto;
                  font-size: 1.3rem;
                  font-weight: 700;
               }

               .delete {
                  color: $grey-color;
                  font-size: 1.4rem;
                  cursor: pointer;
               }
            }
         }

         .button {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            gap: 10px;

            a.button.black {
                text-decoration: none;
            }
         }
    }
}